<div class="container content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>About Us</h1>
      <br>
      <p><strong>DevPupil</strong> is dedicated to expanding access to computer science and increasing participation by underserved students. Our vision is that first generation, low-income and minority students in every school should have the opportunity to learn computer science.</p>
      <p><strong>DevPupil</strong> increases diversity in computer science by reaching underserved students where they are — at their skill-level, in their schools, and in ways that inspire them to keep learning.</p>
      <p><strong>DevPupil</strong> connects underserved students with developers from top companies and universities for one-on-one programming lessons.</p>
      <br>
      <hr>
      <br>
    </div>
  </div>
</div>
