<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <center>
        <h1>Time to start coding!</h1>
        <br>
        <br>
        <div class="row">
          <center>
            <a href="/login" class="btn btn-new demo">Login</a>
          </center>
        </div>
      </center>
    </div>
  </div>
</div>
