<div class="container content">
  <div class="panel user">
    <div class="panel-heading">
      <strong>Sign in</strong>
      <span class="pull-right"><h6>or </h6><a href="/register"><h6>create an account</h6></a></span>
    </div>
    <div class="panel-body">
      <form class="form-signin" method="post">
        <a href="/auth/facebook" class="btn btn-facebook">Sign In with Facebook</a>
        <br/>
        <br/>
        <div class="or"> <h6>or</h6> </div>
        <br/>
        <input type="email" name="email" class="form-control" placeholder="Email" require="" autofocus="">
        <br/>
        <input type="password" name="password" class="form-control" placeholder="Password" require="" >
        <br/>
        <button type="submit" class="btn btn-new">Sign In</button>
      </form>
    </div>
  </div>
</div>
